
.order-dropdown {
    border: 0;
    outline: 0;
    border-radius: 0;
    border-bottom: 1px solid theme-color(primary);
    width: 100%;
    color: black;
    //tap-highlight-color:transparent;

}

.order-dropdown:focus {
    border: 0;
    outline: 0;
    border-radius: 0;
    border-bottom: 2px solid theme-color(primary);
    width: 100%;
    color: black;
    //tap-highlight-color:transparent;

}

.remove-shadow {
    border: 0 !important;
    outline: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid theme-color(primary) !important;
}


.remove-shadow:focus {
    box-shadow: none !important;
    border-bottom: 2px solid theme-color(primary) !important;
    -moz-appearance:textfield !important;
}

.remove-shadow:focus + .float-label-custom{
    color: theme-color(primary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.translate-force {
    transform: translate(0, -50%) scale(0.6) !important;
}

.tab-bar-nav {
    color: theme-color(primary);
}